/**
 * Created: 25.05.2010
 * changed: 26.07.2010 (Correct paths and insert raki styles)
 * changed: 07.02.2011 (visited link color; changed header/footer id to html5 header/footer tags)
 *
 * Aaron Mueller <http://aaron-mueller.de/>
 * Ruben Mueller <http://purzwei.de/>
 */

body {
	position: relative;
	width: 910px;
	left: 50px;
}

img#cables {
	position: absolute;
	right: -155px;
	top: 80px;
  z-index: 100;
}

a#logo img {
	margin: 30px 0 0 200px;
	display: block;
	line-height: 0 !important; /* fix for blueprint overwrite */
}
a#rss {
  float: right;
  position: relative;
  top: -70px;
  right: 30px;
}

header {
	height: 38px;
	background: transparent url(../images/header_bg.png) no-repeat;
	padding-right: 170px;
	text-align: right;
}
  header a, header a:visited {
    font-size: 1.1em;
    text-decoration: none;
    color: white;
    margin: 10px 0 10px 20px;
    display: inline-block;
  }

div#content {
	background: transparent url(../images/content_bg.png) repeat-y;
}
	div#content div.canvas {
		margin: 0 30px 0 30px;
		background-color: white;
	}

article {
	width: 610px;
	padding: 15px 25px 15px 0;
	float: right;
}
  article img {
    border: 1px solid #cfcfcf;
    padding: 2px;
    margin: 10px;
    background-color: #fafafa;
  }
  article img.right { float: right; margin-right: 0;}
  article img.center { display: block; margin-left: auto; margin-right: auto; }
  article img.left { float: left; margin-left: 0;}

nav#navigation {
	background: transparent url(../images/navigation_bg.jpg) repeat-x;
	padding-top: 10px;
	margin: 0 0 30px 0;
	width: 190px;
	float: left;
}
	  nav#navigation ul {
		  margin: 0 0 30px 0;
		  padding: 0;
		  list-style: none;
	  }
	  
			nav#navigation ul li a:link,
			nav#navigation ul li a:visited {
				margin: -3px 0 0 -5px;
				width: 195px;
				height: 32px;
				background: transparent url(../images/navigation_entry_bg.png) no-repeat;
				display: block;
				text-decoration: none;
				font-size: 1.1em;
				color: black;
			}
			
			nav#navigation ul li a:hover,
			nav#navigation ul li a:active {
				background: transparent url(../images/navigation_entry_hover_bg.png) no-repeat;
			}
				nav#navigation ul li a span {
					display: block;
					padding: 8px 0 0 20px;
				}
				
			nav#navigation ul li.selected a:link,
			nav#navigation ul li.selected a:visited {
				color: white;
				background: transparent url(../images/navigation_entry_selected_bg.png) no-repeat;
			}
			
			nav#navigation ul li.first a:link,
			nav#navigation ul li.first a:visited {
				margin: 0px 0 0 -5px;
				height: 36px;
				background: transparent url(../images/navigation_entryfirst_bg.png) no-repeat;
			}
			
			nav#navigation ul li.first a:hover,
			nav#navigation ul li.first a:active {
				background: transparent url(../images/navigation_entryfirst_hover_bg.png) no-repeat;
			}
			
			nav#navigation ul li.first.selected a:link,
			nav#navigation ul li.first.selected a:visited {
				background: transparent url(../images/navigation_entryfirst_selected_bg.png) no-repeat;
			}
				nav#navigation ul li.first a span {
					padding: 12px 0 0 20px;
				}

div#content footer {
	height: 25px;
	padding: 10px 55px 10px 245px;
	font-size: .8em;
	color: #888;
	text-align: right;
	background: transparent url(../images/footer_bg.png) no-repeat;
}

body > footer:last-child {
  margin-top: 10px;
  height: 45px;
  font-size: .8em;
  text-align: center;
}


#auth_username {
    margin-left: 40px !important;
    padding-left: 20px;
    background: url(../images/user.png) no-repeat;
}

div#login {
  width: 250px;
}

a.active {
    font-weight: bold;
}
